.header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.header-container img {
  padding-right: 5rem !important;
}
.menu-dropdown {
  width: 52rem;
  /* padding: 3rem; */
  display: none;
}
.dropped {
  display: block !important;
}
.header-menu {
  margin-top: 0.5rem;
  padding: 1.5rem;
  height: 3rem;
}
.header-menu p {
  font-weight: 500;
  font-size: 30px;
  line-height: 25px;
  color: #000;
}
.header-menu:hover,
.header-menu:hover p,
.selected,
.selected p {
  background-color: #a2e0ff;
  color: #ffffff !important;
}
@media only screen and (min-width: 600px) {
  .header-container {
    display: none;
  }
  .menu-dropdown {
    display: none !important;
  }
}
