.card-container {
  background: #f1f1f1;
  border-radius: 10px;
  width: 250px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 1rem; */
}
.card-container.card-selected {
  background: #ffffff;
  box-shadow: 2px 4px 12px 1px rgba(108, 108, 108, 0.25);
}
.card-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content p {
  margin-left: 1.5rem;
}
